:root {
   --bs-body-font-size:0.88rem;
   /*--bs-body-font-family: var(--bs-font-monospace);*/
   --bs-body-font-family: Arial,
      Tahoma,
      Verdana,
      sans-serif;
   --bs-body-line-height: 1;
}

.content__block {
   display: none;
   position: absolute;
   right: 1%;
   z-index: 1;
}

.modal {
   position: absolute;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   overflow-y: auto;
}

/* Place the navbar at the bottom of the page, and make it stick */
.bottombar {
   background-color: #212529;
   overflow: hidden;
   position: fixed;
   bottom: 0;
   width: 100%;
}

/* Style the links inside the navigation bar */
.bottombar a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 12px;
}

.align-right {
   float: right !important;
   padding: 10px;
}

/* Change the color of links on hover */
.bottombar a:hover {
   background-color: #343a40;
   color: white;
}

/* Add a color to the active/current link */
.bottombar a.active {
   background-color: #141414;
   color: white;
}

.vl {
   border-left: 1px solid #323539;
}

.tl {
   border-top: 1px solid #323539;
}

.bl {
   border-bottom: 1px solid #323539;
}