<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- As 3 meta tags acima *devem* vir em primeiro lugar dentro do `head`; qualquer outro conteúdo deve vir *após* essas tags -->
    {% block head %}
    <title>
        {% if page_name %}
            {{ page_name }} -
        {% endif %}
        Pendencias
    </title>
    <link href="vendor/twbs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    {% endblock %}
</head>
<body style="background-color:#212529">
{% block navbar %}
    {% if not no_navbar %}
        {% include 'navbar.html' %}
    {% endif %}
{% endblock %}


<div class="container-fluid">
{% block content %}
    <!-- Conteúdo da pagina
{% endblock %}
</div>

{% block modal %}
{% endblock %}


<script src="vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/custom.js"></script>
{% block scripts %}



{% endblock %}

{% block bottombar %}
<div class="bottombar">
    <a href="index.php" {% if index == 'active' %}class="active"{% endif %}>Home</a>
    <a href="tipos.php" {% if tipos == 'active' %}class="active"{% endif %}>Tipos de Incidente</a>
    <a href="usuarios.php" {% if usuarios == 'active' %}class="active"{% endif %}>Usuários</a>

    <a class="align-right" href="logout.php">Logout</a>
</div>
{% endblock %}
</body>
</html>