<div class="bottombar tl">
    <a href="index.php" {% if index=='active' %}class="active" {% endif %}>Em andamento</a>
    <a href="index.php?concluidos=true" {% if concluidos=='active' %}class="active" {% endif %}>Concluídos</a>
    <a href="index.php?all=true" {% if all=='active' %}class="active" {% endif %}>Todos</a>



    <a class="align-right vl" href="logout.php">Logout</a>
    <a class="align-right vl {% if me_page=='active' %}active {% endif %}" href="me.php">Mudar senha</a>
    <a class="align-right vl {% if tipos_page=='active' %}active {% endif %}" href="tipos.php" >Tipos de Incidente</a>
    <a class="align-right vl {% if usuarios_page=='active' %}active {% endif %}" href="usuarios.php" >Usuários</a>
    {% if pages %}
        {% for i in pages-1..0 %}
        <a 
            class="align-right {% if i == page %}active{% endif %}" 
            href="index.php?page={{ i }}{% if concluidos=='active' %}&concluidos=true{% endif %}{% if all=='active' %}&&all=true{% endif %}">{{ i }}
        </a>
        {% endfor %}
    {% endif %}
</div>