<div class="bottombar tl">
    <a href="index.php" {% if index=='active' %}class="active" {% endif %}>Em andamento</a>
    <a href="index.php?concluidos=true" {% if concluidos=='active' %}class="active" {% endif %}>Concluídos</a>
    <a href="index.php?all=true" {% if all=='active' %}class="active" {% endif %}>Todos</a>



    <a class="align-right vl" href="logout.php">Logout</a>
    <a class="align-right vl {% if me_page=='active' %}active {% endif %}" href="me.php">Mudar senha</a>
    <a class="align-right vl {% if tipos_page=='active' %}active {% endif %}" href="tipos.php" >Tipos de Incidente</a>
    {% if me.admin %}<a class="align-right vl {% if usuarios_page=='active' %}active {% endif %}" href="usuarios.php" >Usuários</a>{% endif %}
    {% if pages %}
        {% if pages > page+1 %}
        <a class="align-right"
            href="index.php?page={{ page+1 }}{% if concluidos=='active' %}&concluidos=true{% endif %}{% if all=='active' %}&&all=true{% endif %}">>
        </a>
        {% endif %}

        {% if pages > page+2 %}
        <a class="align-right"
            href="index.php?page={{ page+2 }}{% if concluidos=='active' %}&concluidos=true{% endif %}{% if all=='active' %}&&all=true{% endif %}">{{
            page+2 }}
        </a>
        {% endif %}
        {% if pages > page+1 %}
            <a class="align-right"
                href="index.php?page={{ page+1 }}{% if concluidos=='active' %}&concluidos=true{% endif %}{% if all=='active' %}&&all=true{% endif %}">{{
                page+1 }}
            </a>
        {% endif %}
        <a class="align-right active"
            href="index.php?page={{ page }}{% if concluidos=='active' %}&concluidos=true{% endif %}{% if all=='active' %}&&all=true{% endif %}">{{ page }}
        </a>
        {% if page != 0 %}
            {% if page > 1 %}
                <a class="align-right"
                    href="index.php?page={{ page-1 }}{% if concluidos=='active' %}&concluidos=true{% endif %}{% if all=='active' %}&&all=true{% endif %}">{{
                    page-1 }}
                </a>
                <a class="align-right"
                    href="index.php?page={{ page-2 }}{% if concluidos=='active' %}&concluidos=true{% endif %}{% if all=='active' %}&&all=true{% endif %}">{{
                    page-2 }}
                </a>
            {% elseif page > 0 %}
                <a class="align-right"
                    href="index.php?page={{ page-1 }}{% if concluidos=='active' %}&concluidos=true{% endif %}{% if all=='active' %}&&all=true{% endif %}">{{
                    page-1 }}
                </a>"
            {% endif %}
            <a class="align-right"
                href="index.php?page={{ page-1 }}{% if concluidos=='active' %}&concluidos=true{% endif %}{% if all=='active' %}&&all=true{% endif %}"><
            </a>
        {% endif %}

    {% endif %}
</div>