<form method="post" action="me.php">
        <div class="mb-3">
            <label style="color: white;" for="floatingInput" class="form-label">Nova senha</label>
            <input type="password" autocomplete="new-password" class="form-control" id="password" name="senha">
        </div>
        <div class="mb-3">
            <label style="color: white;"  for="floatingInput" class="form-label">Confirmar senha</label>
            <input type="password" autocomplete="new-password" class="form-control" id="confirm_password" name="confirm_senha">
        </div>
    <div>
        <br>
        <button class="btn btn-secondary" type="submit" name="set-password">Salvar</button>
    </div>
</form>