<form method="post" action="tipos.php">
    <div class="mb-3">
        <label style="color: white;" for="floatingInput" class="form-label">Tipo de incidente</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="Tipo de incidente" name="tipo">
    </div>
    <div class="mb-3">
        <label style="color: white;" for="floatingPassword" class="form-label">Severidade</label>
        <input type="number" class="form-control" id="floatingPassword" placeholder="Severidade " name="severidade">
        <div id="emailHelp" class="form-text" style="color:rgb(218, 218, 218);">Número (0-7), quanto menor maior a severidade</div>
    </div>

    <div>
        <br>
        <button class="btn btn-secondary" type="submit" name="novo">Criar</button>
    </div>
</form>