{% extends "base.twig" %}

{% block content %}

<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h3 class="card-title text-center">Sistema de pendências do monitoramento!</h3>
            <form method="post" action="login.php">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Enter your e-mail" name="login">
                    <label for="floatingInput">Enter your e-mail</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="senha">
                    <label for="floatingPassword">Password</label>
                </div>
                {% if senha %}
                    <br>
                    <h6 class="card-subtitle mb-2 text-danger">Usuário ou senha incorreto!</h6>

                {% endif %}
                <div>
                    <br>
                    <button class="btn btn-secondary" type="submit" name="btn-login">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}