<div class="modal fade modal-dialog modal-dialog-centered modal-fullscreen-sm-down" id="addAndamento"
    aria-labelledby="addAndamentoLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <form method="post" autocomplete="off">
            <input type="hidden" id="idPendenciaOnAddPendencia" name="idPendencia">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAndamentoLabel">Adicionar andamento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onClick="hide('addAndamento')"></button>
                </div>
                <div class="modal-body">
                    <label for="adicionarAndamentoTextArea" class="form-label">Andamento</label>
                    <textarea type="text" class="form-control" maxlength="500" name="andamento" id="adicionarAndamentoTextArea"
                        rows="3" required></textarea>
                    <label id="characterCounterAdicionarAndamentosTextArea" style="padding-top: 5px;">0/500</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onClick="hide('addAndamento')">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>