{% extends "base.twig" %}

{% block content %}
<div class="container-fluid">
<br>
  <div class="row">

    <div class="col">
      <div class="container">
          <h4 style="color: white;">Cadastrar novo usuários:</h4>
          {% include 'formUsuarios.html' %}
      </div>
    </div>

    <div class="col">
      <div class="containe">
        <h4 style="color: white;">Usuários cadastrados:</h4>

        {% include 'tabelaUsuarios.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block modal %}

{% endblock %}

{% block navbar %}
  {% include 'navbarIndex.html' %}
{% endblock %}

{% block bottombar %}
    {{ tipos_page }}
    {% include 'bottombar.html' %}
{% endblock %}